import type { NextPage } from "next";
import Head from "next/head";
import { useRouter } from "next/router";
import { trpc } from "../../utils/trpc";

const Edit{{ pascalCase name }}Page: NextPage = () => {
  const router = useRouter();
  const {{ singular name }}Id = router.query.{{ name }}Id as string;
  const { mutate, isLoading } = trpc.useMutation([
    ["update-{{ lowerCase name }}"]
  ]);

  function handleSubmit(values){
    mutate({
      {{ singular name }}Id,
      ...values
      })
  }


  return (
    <>
    <div>
      <Head>
        <title>Edit {{ singular name }}</title>
        <meta name="description" content="Edit {{ singular name }}" />
        <link rel="icon" href="/favicon.ico" />
      </Head>
    </div>

    </>
  );
};

export default Edit{{ pascalCase name }}Page;
