import type { NextPage } from "next";
import Head from "next/head";
import Link from "next/link";
import { trpc } from "../utils/trpc";

const {{ pascalCase (plural name) }}Page: NextPage = () => {
  const { data: {{ plural name }}, isLoading } = trpc.useQuery(["{{ plural name }}.list-{{ plural name }}"]);

  return (
    <>
    <div>
      <Head>
        <title>{{ name }}</title>
        <meta name="description" content="{{ plural name }}" />
        <link rel="icon" href="/favicon.ico" />
      </Head>
    </div>

   { {{ plural name }}.map(({{ name }}) => {
        return <li key={ {{name}}.id }>{ JSON.stringify({{ name }}) }</li>;
      })}
  </>
);
};

export default {{ pascalCase (plural name) }}Page;
