import type { NextPage } from "next";
import Head from "next/head";
import { trpc } from "../../utils/trpc";

const New{{ singular (pascalCase name) }}Page: NextPage = () => {

  const { mutate, isLoading } = trpc.useMutation([
    ["create-{{ lowerCase name }}"]
  ]);

  function handleSubmit(values){
    mutate(values)
  }

  return (
    <div>
      <Head>
        <title>Create {{ singular name }}</title>
        <meta name="description" content="Create a new {{ singular name }}" />
        <link rel="icon" href="/favicon.ico" />
      </Head>
    </div>
  );
};

export default New{{ singular (pascalCase name) }}Page;
