import type { NextPage } from "next";
import { useRouter } from "next/router";
import Head from "next/head";
import { trpc } from "../../utils/trpc";

const {{ singular (pascalCase name) }}Page: NextPage = () => {
  const router = useRouter();
  const {{ singular name }}Id = router.query.{{ name }}Id as string;

  const { data: {{ singular name }}Data, isLoading } = trpc.useQuery([
    ["{{ plural name }}.get-{{ singular name }}"],
    {
      {{ singular name }}Id
    },
  ]);


  return (
    <>
    <div>
      <Head>
        <title>{{ name }}</title>
        <meta name="description" content="" />
        <link rel="icon" href="/favicon.ico" />
      </Head>
    </div>

    {JSON.stringify({{ singular name }}Data)}

    </>
  );
};

export default {{ singular (pascalCase name) }}Page;
